@{
    if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
    @model PracticeUpdate.Web.ViewModels.CaseViewModel
    @Scripts.Render("~/assets/js/fileupload/fileupload")
    @Scripts.Render("~/assets/js/Views/Shared/_SubmitCase")
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="~/assets/js/Bootstrap/bootstrap-growl.min.js"></script>
    <section class="single-item-section section-widget page-section submit-case" id="submitCase">
        <div class="page-section-heading">
            <h3 class="page-section-title">Submit Your Case</h3>
        </div>
        <div class="page-section-body">
            <div class="panel">
                @using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmSubmitCase", @class = "form-submit-case clearfix j-form-submit-case", enctype = "multipart/form-data", target = "iframe-post-form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(lm => lm.specialtyid, new { id = "casespecialtyid" })
                    <p>Submit a case to the Tumor Board and get insights from experts at the institution and nationwide as well as the insights of other practicing clinicians. Select cases may also be featured as Tumor Board at the institution and receive the same kind of multi-specialty insights.</p>
                    <p>*Please remove any personally identifiable information before submitting your case. In the event that your case is chosen for publication on PracticeUpdate.com, any content that could be deemed sensitive will be redacted by our editorial staff.*</p>
                    <p>You can submit a case by entering details in the field below, providing a file for review, or both.</p>
                    <label for="caseTitle">Case Title (required)</label>
                    @Html.TextBoxFor(lm => lm.title, new {id = "casetitle", type = "text", @class="j-title-field form-control col-md-12", maxlength = 450, placeholder = "Enter the case title (max character 450)"})
                    <small id="casetitleerror" class="error is-hidden">A Case Title is required</small>
                    <div class="input-group">
                        <label for="caseDetail">Case Details</label>
                        @Html.TextAreaFor(lm => lm.notes, new { id = "casenotes", name = "upload-text", rows = "3", value = "", placeholder = "Enter the details of your case", @class = "j-textarea-field textarea-field form-control col-md-12" })
                        <small id="casenoteserror" class="error is-hidden">Please enter Case Details or Attach a file</small>
                    </div>
                    <div class="input-group input-group-case-attach">
                        <label for="caseAttach">Attach a file (optional)</label>
                        <span class="input-group-btn">
                            <span class="button small success btn-file">
                                Browse @Html.TextBoxFor(lm => lm.datafile, new {id = "datafile", type = "file", accept="image/gif,image/png,image/jpg,image/jpeg,application/pdf,application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/vnd.ms-powerpoint" })
                            </span>
                        </span>
                        <div class="wrap-file-upload-name">
                            <input type="text" class="form-control j-file-upload-name file-upload-name" id="case-attach" name="file-name" placeholder="Choose file..." readonly="">
                        </div>
                        <div class="file-upload-remove">
                            <a href="javascript:void(0);" class="j-file-upload-remove is-hidden">remove file</a>
                        </div>
                        <small id="uploaderror" class="error is-hidden"></small>
                        <span class="help-block no-pad">
                            You may provide one file for review.
                            <br>We accept files below 5MB in any of the following formats: ppt, pptx, pdf, doc, docx, jpg, jpeg, png, gif.
                        </span>
                    </div>
                    <div class="submit-btn j-submit-file">
                        <a href="javascript:void(0);" class="button small success submit-option" id="SubmitCase" disabled="disabled">Submit Case</a>
                    </div>
                }
            </div>
        </div>
        <div class="page-section-footer">
            <span class="help-block no-pad">If you have any questions about submitting cases to the PracticeUpdate tumor boards,  <a href="/general/caseFAQ/" target="_blank" title="Read the PracticeUpdate Tumor Boards Case FAQs">please see our FAQs</a>.</span>
        </div>
    </section>
    }
}