@{
    Layout = null;
}
<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width" />
	<meta name="description" content="View all the latest news and articles, personalized for you, in a single view.">
    <meta name="application-name" content="PracticeUpdate"/>
    <meta name="msapplication-TileColor" content="#3186a4"/>
    <meta name="msapplication-TileImage" content="c1da1cf2-3190-4f73-87f2-40d3444b0896.png"/>
	<title>PracticeUpdate</title>

	<!-- Include CSS Files -->

	<!-- link rel="stylesheet" href="assets/css/app.css" -->
	<link rel="stylesheet" href="/assets/css/app.css">
	<!-- Include Modernizr -->
	<script src="/assets/js/foundation/modernizr.foundation.js"></script>
	<!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="/assets/js/foundation/practiceupdate-ie.min.js"></script>
    <![endif]-->
<style>
body{
  background:rgb(255,255,255);
  color: rgb(88,89,91);
}

img{
  display: block;
  margin-left:auto;
  margin-right:auto;
}

hr {
  border: solid rgba(149,148,160,0.4);
  border-width: 3px 0 0;
  clear: both;
  margin: 0 0 21px;
  height: 0;
}

header{
  border-top:34px solid rgb(149,148,160);
  padding-top: 70px;
}

footer{
  background-color: rgb(149,148,160);
  color: rgb(255,255,255);
}
.row{
  max-width:1000px;
}

.panel{
  background-color: rgb(29,121,152);
}

p{
  font-family: "proxima-nova-n3", "proxima-nova",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height:1.2em;
}

p.lead{
  padding-top:20px;
  font-size: 38px;
  line-height:1.2em;
}

header p{
  font-size: 24px
}

.panel p{
  color: rgb(255,255,255);
  font-size: 38px;
}

footer a, footer a:hover{
  color: rgb(255,255,255);
  font-family: "proxima-nova-n7", "proxima-nova",sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.pu-todo{
  display:inline-block;
  font-weight: bold;
  padding:5px;
}

@@media (max-width: 1024px) {
  .row{
    max-width:100%;
  }
}

</style>
</head>
<body id="landing-mobile-app" class="page-landing marketing"> <!-- .custom-mockup -->
<header>
<div class="row">
  <div class="six columns">
    <p style="color:rgb(149,148,160);">A New App for Practicing Physicians</p>
    <img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/pu-logo@2x.png" alt="MISSING IMAGE: PracticeUpdate | app" width=600 height=300 style="background:pink">

    <p style="color:rgb(29,121,152);">Expert-selected clinically-relevant content at your fingertips.</p>
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid three-up">
          <li><a href="https://itunes.apple.com/us/app/practiceupdate/id786924888?mt=8&uo=4" target="itunes_store"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/apple-store.jpg" alt="apple-store" width="133" height="45"></a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.mobile.practiceupdate&hl=en"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/google-store.jpg" alt="google-store" width="127" height="45"></a></li>
          <li><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/windows-store-coming-soon.jpg" alt="windows-store coming soon" width="171" height="45"></li>
        </ul>
      </div><!--/.twelve.columns-->
    </div><!--/.row-->

  </div><!--/.six.columns-->
  <div class="six columns"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/device1.jpg" alt="device1"></div><!--/.six.columns-->
</div><!--/.row-->
</header><!--/header-->
<div class="row">
  <div class="twelve columns panel">
<p>Download the new PracticeUpdate app today for FREE, and enjoy all the quality information, expert commentary, and customized content you love in a mobile-friendly package.</p>
  </div><!--/.six.columns-->
</div><!--/.row-->
<div class="row">
  <div class="six columns push-six">
    <p class="lead">Expert-selected articles and research.</p>
    <p>Quit roaming from site to site, and rely on our industry experts to hand-select the top articles, studies, and breaking news from 100&rsquo;s of journals. You&rsquo;ll also find exclusive content, such as conference coverage, Q&amp;A&rsquo;s with top experts, and specialty-specific education centers.</p>
  </div><!--/.six.columns-->
  <div class="six columns pull-six"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/device2.jpg" alt="device2"></div><!--/.six.columns-->
   <hr/>
</div><!--/.row-->
<div class="row">
  <div class="six columns">
    <p class="lead">Practice-focused commentary helping you apply info instantly.</p>
    <p>Facts are great, but they aren&rsquo;t always enough. Real-world reflection and insight for how to apply new findings to daily practice helps put your reading to work immediately.</p>
  </div><!--/.six.columns-->
  <div class="six columns"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/device3.jpg" alt="device3"></div><!--/.six.columns-->
  <hr/>
</div><!--/.row-->
<div class="row">
  <div class="six columns push-six">
<p class="lead">Customized feeds based on your specialty and preferences.</p>
<p>Select your primary areas of interest to ensure your homepage displays only the content you want. We&rsquo;ll also suggest additional content you may want to check out based on your profile.</p>
  </div><!--/.six.columns-->
<div class="six columns pull-six"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/device4.jpg" alt="device4"></div><!--/.six.columns-->
   <hr/>
</div><!--/.row-->
<div class="row">
  <div class="six columns panel">
<p>Expert-selected clinically-relevant content at your fingertips.</p>
  </div><!--/.six.columns-->
  <div class="six columns">
  <img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/pu-logo-tag@2x.png" alt="MISSING IMAGE: PracticeUpdate | app our experts. your practice" width=600 height=300 style="background:pink">
<p style="color:rgb(29,121,152); font-size:52px;">Download it for FREE</p>
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid three-up">
          <li><a href="https://itunes.apple.com/us/app/practiceupdate/id786924888?mt=8&uo=4" target="itunes_store"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/apple-store.jpg" alt="apple-store" width="133" height="45"></a></li>
          <li><a href="https://play.google.com/store/apps/details?id=com.mobile.practiceupdate&hl=en"><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/google-store.jpg" alt="google-store" width="127" height="45"></a></li>
          <li><img src="@System.Configuration.ConfigurationManager.AppSettings["CloudFrontImageURL"]/pumarketing/app-landing/windows-store-coming-soon.jpg" alt="windows-store coming soon" width="171" height="45"></li>
        </ul>
      </div><!--/.twelve.columns-->
    </div><!--/.row-->
  </div><!--/.six.columns-->
</div><!--/.row-->
<footer>
<div class="row">
  <div class="six columns push-six">
<p>Have any questions or need help using the app? <br><a href="mailto:practiceupdate@elsevier.com">Contact Us</a>.</p>
  </div><!--/.six.columns-->
</div><!--/.row-->
</footer><!--/footer-->
	<!-- Included JS Files (Uncompressed) -->
    <script src="/assets/js/foundation/jquery.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.accordion.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.alerts.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.buttons.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.forms.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.mediaQueryToggle.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.navigation.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.topbar.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.orbit.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.reveal.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.tabs.js"></script>
	<script src="/assets/js/foundation/jquery.foundation.tooltips.js"></script>
	<script src="/assets/js/foundation/jquery.placeholder.js"></script>
	<script src="/assets/js/foundation/jquery.offcanvas.js"></script>
	<script src="/assets/js/foundation/app.js"></script>
</body>
</html>